@charset "UTF-8";

/* Resettin' */
* { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; }

html
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 80px rgba(130,80,50,0.25);
}

body
{				
	background: #eceded;
	background: #fafafa;
	color: #222020;
	
	
	font-family: monospace;
	font-size: 16px;
	line-height: 1.2em;
	
	max-width: 900px;
	
	margin: 2em auto;
	padding: 0 2em;
	
}

h1, h2, h3, h4, h5, h6
{
	font-size: inherit;
	font-weight: normal;
	margin: 24px 0 0 0;
	font-family: monospace;	
	
}

h1
{
	text-align: center;
	text-transform: uppercase;
	font-family: monospace;	
}

h1+ul {
	list-style: none;
	text-align: center;
	margin: .75em;
}

h1+ul li {
	margin: 0;
}

h2
{
	text-align: center;
}

h2:after
{
	content: "\A* * *";
	white-space: pre;
}

h3
{
	text-transform: uppercase;
}


h4
{
	display: run-in;
	padding-right: 1em;
}

p, li
{
	margin: 0 0 1em 0;
}

blockquote
{
	font-family: monospace;
	font-style: italic;
	margin: 2em;
}

header ul
{
	list-style: none;
	text-align: left;	
}
	
header li
{
	margin: 0;
}

pre
{
	margin: 1em 2em;
	line-height: 1em;
	padding: 1em;
	border: 1px solid #ccc;
}

code
{
	font-family: monospace;

}

