@charset "UTF-8";

/* Resettin' */
* { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; }

html
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 80px rgba(130,80,50,0.25);
}

body
{				
	background: #eceded;
	background: #fafafa;
	color: #222020;
	
	
	font-family: "Courier Prime", monospace;
	font-size: 14px;
	line-height: 18px;
	
	min-width: 320px;
	max-width: 700px;
	
	margin: 36px auto;
	padding: 0 36px;
	
}

h1, h2, h3, h4, h5, h6
{
	font-size: inherit;
	font-weight: normal;
	margin: 24px 0 0 0;
	font-family: "CourierPrime-Bold";	
	
}

h1
{
	text-align: center;
	text-transform: uppercase;
	font-family: "CourierPrime-Bold";	
}

h1+ul {
	list-style: none;
	text-align: center;
	margin: 14px;
}

h1+ul li {
	margin: 0;
}

h2
{
	text-align: center;
}

h2:after
{
	content: "\A* * *";
	white-space: pre;
}

h3
{
	text-transform: uppercase;
}


h4
{
	display: run-in;
	padding-right: 18px;
}

p, li
{
	margin: 0 0 16px 0;
}

blockquote
{
	font-family: "CourierPrime-Italic";
	margin: 36px 54px;
}

header ul
{
	list-style: none;
	text-align: left;	
}
	
header li
{
	margin: 0;
}

pre
{
	margin: 18px 36px;
	line-height: 14px;
	padding: 18px;
	border: 1px solid #ccc;
}

code
{
	font-family: "CourierPrime";

}

